{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Nos Pâtisseries{% endblock %}

{% block main %}
    <div class="main-pastries">
        <div class="pastry">
            <div class="pastry-img">
            </div>
                        <div class="pastry-img">
            </div>
        </div>
    </div>
{% endblock %}
