{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Nos Pâtisseries{% endblock %}

{% block main %}
    <div class="main-pastries">
        <div class="pastries">
            <div class="pastries-img">
                <div class="pastry">
                    <img alt="" src="img/biscuits.jpg">
                    <p><a href="">Biscuits</a></p>
                </div>
                <div class="pastry">
                    <img alt="" src="img/entremets.jpg">
                    <p><a href="">Entremets</a></p>
                </div>
                <div class="pastry">
                    <img alt="" src="img/tartes.jpg">
                    <p><a href="">Tartes</a></p>
                </div>
                <div class="pastry">
                    <img alt="" src="img/macarons.jpg">
                    <p><a href="">Macarons</a></p>
                </div>
                <div class="pastry">
                    <img alt="" src="img/patisseries.jpg">
                    <p><a href="">Pâtisseries</a></p>
                </div>                
            </div>
        </div>
    </div>
{% endblock %}
