{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Nos Evenement{% endblock %}

{% block main %}
	<div class="main-pastry">
		<h2>Évenementiel</h2>
		<div class ="main-event">
			<div class ="first-option">
				<h3>Buffet de dessert et décoration</h3>
				<p>Au choix 5 types de gâteaux</p>
				<ul>
					<li>Sablés (nature, citron ou noisettes)</li>
					<li>Cupcake (nature, citron, vanille ou chocolat)</li>
					<li>Cakepops (nature, citron, vanille ou chocolat)</li>
					<li>Magnum cake (nature, citron, vanille ou chocolat)</li>
					<li>Donuts</li>
					<li>Cookies</li>
					<li>Tigrés au chocolat</li>
					<li>Crêpes</li>
					<li>Madeleines</li>
					<li>Muffins</li>
				</ul>
				<p>1 entremet ou layer cake (pas de pâte à sucre)</p>
				<p>1 grande arche de ballons (1m80) ou deux petites arches (1m65 x 73cm)</p>
				<p>Décorations de tables (gobelets, serviettes, pailles, bonbonnières, vases, présentoirs à gâteaux...)</p>
				<div class="prices">
					<ul>
						<li>Pack pour 6 convives : 350 €</li>
						<li>Pack pour 10 convives : 400 €</li>
						<li>Pack pour 15 convives : 450 €</li>
						<li>Pack pour 20 convives : 500 €</li>
					</ul>
                    <p>Installation/mise en place et retrait inclus</p>
                    <p>Thème : Licorne, carrousel, petite sirène, jungle, astronaute, pirates...</p>
                    <p class="delay">Délai de commande : 1 mois au minimum - caution de 500€ à remettre le Jour J et rendu au retrait du matériel</p>
				</div>
			</div>
            <div class ="second-option">
				<h3>Buffet de dessert en livraison simple</h3>
				<p>Au choix 5 types de gâteaux (x le nombre de convives)</p>
				<ul>
					<li>Sablés (nature, citron ou noisettes)</li>
					<li>Cupcake (nature, citron, vanille ou chocolat)</li>
					<li>Cakepops (nature, citron, vanille ou chocolat)</li>
					<li>Magnum cake (nature, citron, vanille ou chocolat)</li>
					<li>Donuts</li>
					<li>Cookies</li>
					<li>Tigrés au chocolat</li>
					<li>Crêpes</li>
					<li>Madeleines</li>
					<li>Muffins</li>
				</ul>
				<p>1 entremet ou layer cake (pas de pâte à sucre)</p>
				<div class="prices">
					<ul>
						<li>Quantité par 6 parts : 84 €</li>
						<li>Quantité par 10 parts : 140 €</li>
						<li>Quantité par 15 parts : 210 €</li>
						<li>Quantité par 20 parts : 280 €</li>
					</ul>
                    <p class="delay">Délai de commande : 1 semaine avant évènement au minimum</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
