{% extends 'base.html.twig' %}


{% block main %}
    <main class="content">
        <div class="pictures">
            <img src="img/gateau.png" alt="Pâtisseries" title="Pâtisseries" class="pic">
            <img src="img/gateaux.png" alt="Pâtisseries" title="Pâtisseries" class="pic">
            <img src="img/tartelettes.png" alt="Pâtisseries" title="Pâtisseries" class="pic">
        </div>
        <section class="about">
            <h1>Promenade Sucrée</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel erat ut eros pretium dapibus a a dui. Vivamus at felis in ex elementum viverra. Donec ut ligula rutrum, imperdiet nisl lobortis, interdum metus. Pellentesque aliquet posuere augue, eget vulputate diam euismod at. Proin et nulla sed justo elementum ultrices. Nunc accumsan turpis at diam aliquet, id viverra metus vehicula. Praesent dictum, lectus non sagittis sagittis, urna leo porttitor mi, non tristique diam velit a justo. Vivamus ut tempor elit. Suspendisse bibendum massa in lectus suscipit dapibus. </p>
        </section>
    </main>
{% endblock %}
