{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Site en maintenance
{% endblock %}

{% block body %}
<main class="maintenance">

    <div class="logoPS">
        <img src="{{ asset('img/logoPSs.png') }}" alt="Logo Promenade Sucrée" class="logo">
    </div>

    <div class="maintenance-text">
        <p>On arrive bientôt pour régaler vos papilles ! </p>
        <p>En attendant retrouvez nous sur notre page Instagram ou passer votre commande par email.</p>
        <p>A très vite !</p>
    </div>

    <div class="network">
        <div class="instagram">
            <a href="https://www.instagram.com/promenadesucree/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

</main>

<footer class="all-contact">
    <div class="contact">
        <div class="mail">
            <p>Contactez-nous</p>
        </div>
    </div>
</footer>
{% endblock %}